<% @list.each do |words| %>
<p><a href = "/define/<%= words.id %>"><%= words.word %></a></p>
<% end %>

<form action = "/" method = "post">
  <input type = "text" name = "word_input">
  <button class="btn" type="submit">Submit</button>
</form>
