<% @list.each do |words| %>
<p><%= words.word %></p>
<% end %>

<form action = "/" method = "post">
  <input type = "text" name = "word_input">
  <button type="submit" class="btn">Submit</button>
</form>
